In [6]:
from litellm import completion
import os

In [7]:
os.environ["OPENAI_API_KEY"]="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"

In [15]:
from litellm import completion

response = completion(
            model="ollama/deepseek-r1:1.5b",
            messages = [{ "content": "Whats your name?","role": "user"}],
            api_base="http://localhost:11434"
)

In [16]:
content = response.choices[0].message.content

In [17]:
content

"\n\nGreetings! I'm DeepSeek-R1, an artificial intelligence assistant created by DeepSeek. I'm at your service and would be delighted to assist you with any inquiries or tasks you may have."

In [30]:
response1 = litellm.completion(
    model="ollama/deepseek-r1:1.5b",
    messages=[{"role": "user", "content": "Whats your name?"}],
    api_base="http://localhost:11434",
    temperature=0.9,
    max_tokens=50,
)

In [31]:
content = response1.choices[0].message.content
content

'<think>\nOkay, the user just asked "What\'s your name?" So, I should respond by saying hello. Since they didn\'t provide their identity or anything else, I\'ll keep it simple and friendly.\n\nI need to make sure my response is'

In [35]:
response1.choices[0].message.content

'<think>\nOkay, the user just asked "What\'s your name?" So, I should respond by saying hello. Since they didn\'t provide their identity or anything else, I\'ll keep it simple and friendly.\n\nI need to make sure my response is'

In [2]:
import pandas as pd

In [29]:
df = pd.read_excel("somente_incidentes_194.xlsx")
df1 = pd.read_excel("data/Tabela_Unificada_CERT-RS.xlsx")
df2 =  pd.read_excel("analise_humano_194_concatenados.xlsx")

In [34]:
df["categoria"] = df2["HUMANO CONCATENADO"].to_list()

In [26]:
df1.columns

Index(['Nível', 'Andamento', 'Número do chamado', 'Nome do solicitante',
       'Breve descrição (Detalhes)', 'É um chamado principal', 'Data alvo',
       'Data alvo de resposta', 'Organização' (Solicitante)',
       'Tipo de chamado', 'Status', 'Operador', 'Resolvido(a)s', 'Fechado(a)s',
       'Impacto', 'Categoria', 'Subcategoria', 'Data alvo do SLA',
       'Respondido', 'Data de resposta', 'Grupo de operadores',
       'Operador do escalonamento/rebaixamento', 'Pedido', 'Ação', 'Anexos',
       'Chamados similares'],
      dtype='object')

In [35]:
df['Número do chamado']

0      RNP2022-125941
1      RNP2022-126521
2      RNP2022-127135
3      RNP2022-138345
4      RNP2022-140134
            ...
189    RNP2024-103102
190    RNP2021-003618
191    RNP2022-053173
192    RNP2022-055443
193    RNP2022-089514
Name: Número do chamado, Length: 194, dtype: object

In [36]:
df.columns

Index(['Nível', 'Andamento', 'Número do chamado', 'Nome do solicitante',
       'Breve descrição (Detalhes)', 'É um chamado principal', 'Data alvo',
       'Data alvo de resposta', 'Organização' (Solicitante)',
       'Tipo de chamado', 'Status', 'Operador', 'Resolvido(a)s', 'Fechado(a)s',
       'Impacto', 'Categoria', 'Subcategoria', 'Data alvo do SLA',
       'Respondido', 'Data de resposta', 'Grupo de operadores',
       'Operador do escalonamento/rebaixamento', 'Pedido', 'Ação', 'Anexos',
       'Chamados similares', 'categoria'],
      dtype='object')

In [ ]:
df[["Número do chamado","Pedido","categoria"]].iloc[:5].to_excel("5_incidentes.xlsx")

In [40]:
df2 = df.rename(columns={"Número do chamado":"id","Pedido":"target"})

df2[["id","target","categoria"]].to_excel("194_incidentes.xlsx")

In [24]:
df2.to_excel("194_incidentes.xlsx")

In [1]:
import pandas as pd

In [2]:
df3 = pd.read_excel("data/194_incidentes.xlsx")

In [3]:
df3.head()

,Unnamed: 0,id,target,categoria
0,0,RNP2022-125941,[DATE_TIME_a989e9db40] 14:47 CERT.br: \nData d...,CAT12
1,1,RNP2022-126521,[DATE_TIME_18028d532e] 07:08 CERT.br: \nData d...,CAT12
2,2,RNP2022-127135,[DATE_TIME_333e6005b6] 10:58 CERT.br: \nData d...,CAT5
3,3,RNP2022-138345,[DATE_TIME_850a1aafb0] 09:59 CERT.br: \nData d...,CAT5
4,4,RNP2022-140134,[DATE_TIME_1fe1abe111] 08:44 CERT.br: \nData d...,CAT5

In [ ]:
df3.to_csv("194_incidentes.csv", sep=";",  index=False, columns=['id', 'target', 'categoria'])

./scripts/run_ollama_classification.sh data/ \
  --columns "target" \
  --model ollama_deepseek_15b \
  --technique self_hint \
  --output xlsx

In [ ]:
pd.read_csv("194_incidentes.csv",sep=";")

,id,target,categoria
0,RNP2022-125941,[DATE_TIME_a989e9db40] 14:47 CERT.br: \nData d...,CAT12
1,RNP2022-126521,[DATE_TIME_18028d532e] 07:08 CERT.br: \nData d...,CAT12
2,RNP2022-127135,[DATE_TIME_333e6005b6] 10:58 CERT.br: \nData d...,CAT5
3,RNP2022-138345,[DATE_TIME_850a1aafb0] 09:59 CERT.br: \nData d...,CAT5
4,RNP2022-140134,[DATE_TIME_1fe1abe111] 08:44 CERT.br: \nData d...,CAT5
...,...,...,...
189,RNP2024-103102,[DATE_TIME_38b191c684] 18:46 CERT.br: \nData d...,CAT5
190,RNP2021-003618,[DATE_TIME_1e3d9dc851] 16:54 CERT.br: \nData d...,CAT5
191,RNP2022-053173,[DATE_TIME_3d9103508d] 11:12 CERT.br: \nData d...,CAT5
192,RNP2022-055443,[DATE_TIME_17dea1afe5] 08:32 CERT.br: \nData d...,CAT3
193,RNP2022-089514,[DATE_TIME_2d2b32fdc0] 08:02 CERT.br: \nData d...,CAT5

In [6]:
d2 = pd.read_excel("194_incidentes.xlsx")

In [7]:
d2.to_excel("194_incidentes.xlsx", index=False)

In [ ]:
qwen3:0.6b
qwen3:1.7b
qwen3:4b
qwen3:4b
qwen3:8b
llama3.1:8b
llama3.2:1b
llama3.2:3b
deepseek-r1:7b
deepseek-r1:8b
deepseek-r1:14b
mistral:7b
phi3:3.8b
phi3:14b
smollm2:135m
smollm2:360m
smollm2:1.7b
falcon3:1b
falcon3:3b
falcon3:7b
falcon3:10b
gemma3:270m
gemma3:1b
gemma3:4b
gemma3:12b
granite3.2:2b
granite3.2:8b

python main.py data/ \
  --columns "target" \
  --model ollama_qwen3_1_7b \
  --technique self_hint \
  --temperature 0.9 \
  --output xlsx

In [3]:
pd.read_excel("data/5_incidentes.xlsx")

,Unnamed: 0,id,target,categoria
0,0,RNP2022-125941,[DATE_TIME_a989e9db40] 14:47 CERT.br: \nData d...,CAT12
1,1,RNP2022-126521,[DATE_TIME_18028d532e] 07:08 CERT.br: \nData d...,CAT12
2,2,RNP2022-127135,[DATE_TIME_333e6005b6] 10:58 CERT.br: \nData d...,CAT5
3,3,RNP2022-138345,[DATE_TIME_850a1aafb0] 09:59 CERT.br: \nData d...,CAT5
4,4,RNP2022-140134,[DATE_TIME_1fe1abe111] 08:44 CERT.br: \nData d...,CAT5

## Data clean

In [26]:
import pandas as pd

In [27]:
columns_principal  = ['id', 'categoria','prompt',"model"]

In [48]:
df_principal = pd.read_excel("data/194_incidentes.xlsx")
df_principal.rename(columns={"categoria":"analise_humana"}, inplace=True)
df_principal =  df_principal[["id","analise_humana"]]
df_principal.head()

               id analise_humana
0  RNP2022-125941          CAT12
1  RNP2022-126521          CAT12
2  RNP2022-127135           CAT5
3  RNP2022-138345           CAT5
4  RNP2022-140134           CAT5

In [37]:
df_principal.shape

(194, 4)

In [50]:
df_principal.dtypes

id                object
analise_humana    object
dtype: object

In [62]:
model_name = "deepseek-r1:1.5b"
df_htp_deep = pd.read_excel(f"resultados_ollama_deepseek_15b_hypothesis_testing.xlsx")
df_htp_deep.drop_duplicates(subset='id', keep='first', inplace=True)
df_htp_deep["prompt"] = 'htp'
df_php_deep  = pd.read_excel(f"resultados_ollama_deepseek_15b_progressive_hint.xlsx")
df_php_deep.drop_duplicates(subset='id', keep='first', inplace=True)
df_php_deep["prompt"] = 'php'
df_prp_deep = pd.read_excel(f"resultados_ollama_deepseek_15b_progressive_rectification.xlsx")
df_prp_deep.drop_duplicates(subset='id', keep='first', inplace=True)
df_prp_deep["prompt"] = 'prp'
# df_shp =   rodar o shp para o deepseek 1.5b

df_deepseek = pd.concat([df_htp_deep, df_php_deep, df_prp_deep], ignore_index=True)
df_deepseek["model"] = model_name

df_deepseek = df_deepseek[columns_principal]
#df_deepseek = df_deepseek.join(df_principal.set_index('id'), on='id', how='right')


df_deepseek.head()

               id categoria prompt             model
0  RNP2022-125941      CAT1    htp  deepseek-r1:1.5b
1  RNP2022-126521      CAT1    htp  deepseek-r1:1.5b
2  RNP2022-127135      CAT2    htp  deepseek-r1:1.5b
3  RNP2022-138345      CAT5    htp  deepseek-r1:1.5b
4  RNP2022-140134      CAT6    htp  deepseek-r1:1.5b

In [63]:
df_deepseek.shape

(573, 4)

In [64]:
df_deepseek[df_deepseek['id'] == 'RNP2022-089514']

                 id categoria prompt             model
117  RNP2022-089514      CAT2    htp  deepseek-r1:1.5b
308  RNP2022-089514      CAT3    php  deepseek-r1:1.5b
499  RNP2022-089514      CAT3    prp  deepseek-r1:1.5b

In [57]:
df_deepseek.value_counts()

id              categoria  prompt  model             analise_humana
RNP2022-089514  CAT3       php     deepseek-r1:1.5b  CAT5              4
RNP2022-053173  CAT6       prp     deepseek-r1:1.5b  CAT5              2
                unknown    php     deepseek-r1:1.5b  CAT5              2
                           prp     deepseek-r1:1.5b  CAT5              2
                CAT3       php     deepseek-r1:1.5b  CAT5              2
                                                                      ..
RNP2022-106331  CAT3       php     deepseek-r1:1.5b  CAT3              1
                CAT1       htp     deepseek-r1:1.5b  CAT3              1
RNP2022-106330  CAT5       php     deepseek-r1:1.5b  CAT3              1
                CAT3       prp     deepseek-r1:1.5b  CAT3              1
RNP2024-103102  unknown    prp     deepseek-r1:1.5b  CAT5              1
Name: count, Length: 581, dtype: int64

In [54]:
df_deepseek.dtypes

id                object
categoria         object
prompt            object
model             object
analise_humana    object
dtype: object

In [65]:
model_name = "qwen3:8b"
df_htp_qwen = pd.read_excel(f"resultados_ollama_qwen3_8b_hypothesis_testing.xlsx")
df_htp_qwen.drop_duplicates(subset='id', keep='first', inplace=True)
df_htp_qwen["prompt"] = 'htp'
df_php_qwen  = pd.read_excel(f"resultados_ollama_qwen3_8b_progressive_hint.xlsx")
df_php_qwen.drop_duplicates(subset='id', keep='first', inplace=True)
df_php_qwen["prompt"] = 'php'
df_prp_qwen = pd.read_excel(f"resultados_ollama_qwen3_8b_progressive_rectification.xlsx")
df_prp_qwen.drop_duplicates(subset='id', keep='first', inplace=True)
df_prp_qwen["prompt"] = 'prp'
df_shp_qwen =  pd.read_excel(f"resultados_ollama_qwen3_8b_self_hint.xlsx")
df_shp_qwen.drop_duplicates(subset='id', keep='first', inplace=True)
df_shp_qwen["prompt"] = 'shp'

df_qwen3 = pd.concat([df_htp_qwen, df_php_qwen, df_prp_qwen, df_shp_qwen], ignore_index=True)
df_qwen3["model"] = model_name

df_qwen3 = df_qwen3[columns_principal]
df_qwen3.head()

               id categoria prompt     model
0  RNP2022-125941      CAT1    htp  qwen3:8b
1  RNP2022-126521      CAT1    htp  qwen3:8b
2  RNP2022-127135      CAT3    htp  qwen3:8b
3  RNP2022-138345      CAT3    htp  qwen3:8b
4  RNP2022-140134      CAT3    htp  qwen3:8b

In [44]:
776/4

194.0

In [46]:
df_htp_qwen.shape

(194, 8)

In [66]:
model_name = "llama3.1:8b"
df_htp_llama = pd.read_csv(f"resultados_ollama_llama3_1_8b_hypothesis_testing.csv")
df_htp_llama.drop_duplicates(subset='id', keep='first', inplace=True)
df_htp_llama["prompt"] = 'htp'
df_php_llama  = pd.read_csv(f"resultados_ollama_llama3_1_8b_progressive_hint.csv")
df_php_llama.drop_duplicates(subset='id', keep='first', inplace=True)
df_php_llama["prompt"] = 'php'
df_prp_llama = pd.read_csv(f"resultados_ollama_llama3_1_8b_progressive_rectification.csv")
df_prp_llama.drop_duplicates(subset='id', keep='first', inplace=True)
df_prp_llama["prompt"] = 'prp'
df_shp_llama =  pd.read_csv(f"resultados_ollama_llama3_1_8b_self_hint.csv")
df_shp_llama.drop_duplicates(subset='id', keep='first', inplace=True)
df_shp_llama["prompt"] = 'shp'

df_llama3 = pd.concat([df_htp_llama, df_php_llama, df_prp_llama, df_shp_llama], ignore_index=True)
df_llama3["model"] = model_name

df_llama3 = df_llama3[columns_principal]
df_llama3.head()

               id categoria prompt        model
0  RNP2022-125941      CAT1    htp  llama3.1:8b
1  RNP2022-126521      CAT1    htp  llama3.1:8b
2  RNP2022-127135      CAT3    htp  llama3.1:8b
3  RNP2022-138345      CAT3    htp  llama3.1:8b
4  RNP2022-140134      CAT3    htp  llama3.1:8b

In [67]:
df_final = pd.concat([df_deepseek, df_qwen3, df_llama3], ignore_index=True)
df_final = df_final.join(df_principal.set_index('id'), on='id', how='left')[['id', 'categoria','analise_humana','prompt',"model"]]
df_final.head()

               id categoria analise_humana prompt             model
0  RNP2022-125941      CAT1          CAT12    htp  deepseek-r1:1.5b
1  RNP2022-126521      CAT1          CAT12    htp  deepseek-r1:1.5b
2  RNP2022-127135      CAT2           CAT5    htp  deepseek-r1:1.5b
3  RNP2022-138345      CAT5           CAT5    htp  deepseek-r1:1.5b
4  RNP2022-140134      CAT6           CAT5    htp  deepseek-r1:1.5b

In [68]:
df_final.value_counts(['model','prompt'])

model             prompt
deepseek-r1:1.5b  htp       194
                  php       194
                  prp       194
llama3.1:8b       htp       194
                  php       194
                  prp       194
                  shp       194
qwen3:8b          htp       194
                  php       194
                  prp       194
                  shp       194
Name: count, dtype: int64

In [70]:
df_final.to_csv("experimentos/resultados_smlfinal_experimento_1.csv", sep=";",index=False)

In [71]:
df_final

                  id categoria analise_humana prompt             model
0     RNP2022-125941      CAT1          CAT12    htp  deepseek-r1:1.5b
1     RNP2022-126521      CAT1          CAT12    htp  deepseek-r1:1.5b
2     RNP2022-127135      CAT2           CAT5    htp  deepseek-r1:1.5b
3     RNP2022-138345      CAT5           CAT5    htp  deepseek-r1:1.5b
4     RNP2022-140134      CAT6           CAT5    htp  deepseek-r1:1.5b
...              ...       ...            ...    ...               ...
2096  RNP2024-084127      CAT3           CAT5    shp       llama3.1:8b
2097  RNP2024-101169      CAT3           CAT5    shp       llama3.1:8b
2098  RNP2024-103100      CAT5           CAT5    shp       llama3.1:8b
2099  RNP2024-103102      CAT5           CAT5    shp       llama3.1:8b
2100  RNP2021-003618      CAT5           CAT5    shp       llama3.1:8b

[2134 rows x 5 columns]

In [25]:
600/194

3.0927835051546393