In [6]:
from litellm import completion
import os

In [7]:
os.environ["OPENAI_API_KEY"]="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"

In [15]:
from litellm import completion

response = completion(
            model="ollama/deepseek-r1:1.5b",
            messages = [{ "content": "Whats your name?","role": "user"}],
            api_base="http://localhost:11434"
)

In [16]:
content = response.choices[0].message.content

In [17]:
content

"\n\nGreetings! I'm DeepSeek-R1, an artificial intelligence assistant created by DeepSeek. I'm at your service and would be delighted to assist you with any inquiries or tasks you may have."

In [30]:
response1 = litellm.completion(
    model="ollama/deepseek-r1:1.5b",
    messages=[{"role": "user", "content": "Whats your name?"}],
    api_base="http://localhost:11434",
    temperature=0.9,
    max_tokens=50,
)

In [31]:
content = response1.choices[0].message.content
content

'<think>\nOkay, the user just asked "What\'s your name?" So, I should respond by saying hello. Since they didn\'t provide their identity or anything else, I\'ll keep it simple and friendly.\n\nI need to make sure my response is'

In [35]:
response1.choices[0].message.content

'<think>\nOkay, the user just asked "What\'s your name?" So, I should respond by saying hello. Since they didn\'t provide their identity or anything else, I\'ll keep it simple and friendly.\n\nI need to make sure my response is'

In [10]:
import pandas as pd

In [29]:
df = pd.read_excel("somente_incidentes_194.xlsx")
df1 = pd.read_excel("data/Tabela_Unificada_CERT-RS.xlsx")
df2 =  pd.read_excel("analise_humano_194_concatenados.xlsx")

In [34]:
df["categoria"] = df2["HUMANO CONCATENADO"].to_list()

In [26]:
df1.columns

Index(['Nível', 'Andamento', 'Número do chamado', 'Nome do solicitante',
       'Breve descrição (Detalhes)', 'É um chamado principal', 'Data alvo',
       'Data alvo de resposta', 'Organização' (Solicitante)',
       'Tipo de chamado', 'Status', 'Operador', 'Resolvido(a)s', 'Fechado(a)s',
       'Impacto', 'Categoria', 'Subcategoria', 'Data alvo do SLA',
       'Respondido', 'Data de resposta', 'Grupo de operadores',
       'Operador do escalonamento/rebaixamento', 'Pedido', 'Ação', 'Anexos',
       'Chamados similares'],
      dtype='object')

In [35]:
df['Número do chamado']

0      RNP2022-125941
1      RNP2022-126521
2      RNP2022-127135
3      RNP2022-138345
4      RNP2022-140134
            ...
189    RNP2024-103102
190    RNP2021-003618
191    RNP2022-053173
192    RNP2022-055443
193    RNP2022-089514
Name: Número do chamado, Length: 194, dtype: object

In [36]:
df.columns

Index(['Nível', 'Andamento', 'Número do chamado', 'Nome do solicitante',
       'Breve descrição (Detalhes)', 'É um chamado principal', 'Data alvo',
       'Data alvo de resposta', 'Organização' (Solicitante)',
       'Tipo de chamado', 'Status', 'Operador', 'Resolvido(a)s', 'Fechado(a)s',
       'Impacto', 'Categoria', 'Subcategoria', 'Data alvo do SLA',
       'Respondido', 'Data de resposta', 'Grupo de operadores',
       'Operador do escalonamento/rebaixamento', 'Pedido', 'Ação', 'Anexos',
       'Chamados similares', 'categoria'],
      dtype='object')

In [ ]:
df[["Número do chamado","Pedido","categoria"]].iloc[:5].to_excel("5_incidentes.xlsx")

In [40]:
df2 = df.rename(columns={"Número do chamado":"id","Pedido":"target"})

df2[["id","target","categoria"]].to_excel("194_incidentes.xlsx")

In [24]:
df2.to_excel("194_incidentes.xlsx")

./scripts/run_ollama_classification.sh data/ \
  --columns "target" \
  --model ollama_deepseek_15b \
  --technique self_hint \
  --output xlsx

In [1]:
import pandas as pd

In [6]:
d2 = pd.read_excel("194_incidentes.xlsx")

In [7]:
d2.to_excel("194_incidentes.xlsx", index=False)

In [ ]:
qwen3:0.6b
qwen3:1.7b
qwen3:4b
qwen3:4b
qwen3:8b
llama3.1:8b
llama3.2:1b
llama3.2:3b
deepseek-r1:7b
deepseek-r1:8b
deepseek-r1:14b
mistral:7b
phi3:3.8b
phi3:14b
smollm2:135m
smollm2:360m
smollm2:1.7b
falcon3:1b
falcon3:3b
falcon3:7b
falcon3:10b
gemma3:270m
gemma3:1b
gemma3:4b
gemma3:12b
granite3.2:2b
granite3.2:8b

python main.py data/ \
  --columns "target" \
  --model ollama_qwen3_1_7b \
  --technique self_hint \
  --temperature 0.9 \
  --output xlsx